.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grade {
  display: flex;
  flex-direction: column;
}